$bg-color: #A1A1AA;
$bg-color-two: #414144;
$border: #C6C6C6;

.row {
    position: relative;
    padding-left: 20px;

    .list-item {
        border-bottom: 1px solid $bg-color-two;
        min-height: 60px;
        display: flex;
        gap: 20px;
        align-items: center;
        width: 100%; // Убедитесь, что элемент занимает всю доступную ширину
        box-sizing: border-box; 
    }

    .list-buttons {
        display: flex;
        padding: 3px;
        margin: 0 13px;
        gap: 7px;
        width: 55px;

        &:hover {
            border-radius: 6px;
            background-color: $bg-color-two;
        }
        .file-icon{
            background-color: #202124;
        }

        .button {
            display: flex;
            background-color: transparent;
            border: none;
            padding: 0;
            align-items: center;
            cursor: pointer;
        }

        &:hover .trash-icon {
            display: block;
        }

        .trash-icon {
            display: none;
        }
    }

    .input-container {
        display: grid;
        width: 100%;
        grid-template-columns: auto 200px 200px 200px 200px;
        column-gap: 20px;
    }

    .children-list {
        position: relative;
        padding-left: 20px; // Убедитесь, что padding-left добавлен для отступа от линии

        &::before {
            content: '';
            position: absolute;
            left: -20px; // Позиция относительно родительского элемента
            top: -30px;
            width: 20px; // Ширина линии
            height: 60px; // Длина линии
            border-left: 1px solid $border;
            border-bottom: 1px solid $border;
        }
    }

    .parent {
        position: relative; // Позволяет дочерним элементам корректно позиционироваться
        padding-left: 20px; // Отступ от линии

        &::before {
            content: '';
            position: absolute;
            left: -20px; // Позиция относительно родительского элемента
            top: -30px;
            width: 20px; // Ширина линии
            height: 60px; // Длина линии
            border-left: 1px solid $border;
            border-bottom: 1px solid $border;
        }
    }

    

}
