$bg-color: #A1A1AA;
$bg-color-two: #414144;
$bg-color-three: #27272A;
$bg-color-four: #202124;

@mixin grid {
    display: grid;
    grid-template-columns: 110px auto 200px 200px 200px 200px;
    column-gap: 20px;
}

.table {
    width: auto;
    background-color: $bg-color-four;
    padding: 0 8px;

    .table-header {
        @include grid;
        border-bottom: 1px solid $bg-color-two;
        height: 40px;
        padding-left: 12px;

        .table-title {
            color: $bg-color;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 8px;
        }
    }

    .edit {
        height: 100%;
        display: flex;
        align-items: center;
    }
}